:root {
  --ifm-font-family-base: Colfax;
  --ifm-color-primary: rgb(211, 130, 245);
  --ifm-font-family-monospace: 'Operator Mono';
  --ifm-pre-background: rgb(237, 240, 255);

  --subtitle-color: black;
}

html[data-theme='dark'] {
  --ifm-color-emphasis-300: rgb(46, 58, 137);
  --ifm-pre-background: rgb(25, 31, 73);
  --ifm-background-color: #0a0f2e;
  --ifm-background-surface-color: rgb(0, 5, 40);

  --ifm-contents-border-color: rgb(24, 31, 79);
  --ifm-navbar-search-input-background-color: rgb(109, 117, 178);
  --ifm-menu-color-background-active: rgba(211, 130, 245, 0.12);

  --subtitle-color: white;
}

.hero-subtitle {
  color: var(--subtitle-color);
}

.footer.footer--dark {
  background-color: rgb(17, 24, 71);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05em;
}

article h1 {
  background: linear-gradient(rgb(140, 152, 243), rgb(58, 80, 229));
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  background: linear-gradient(rgb(165, 174, 246), rgb(108, 121, 225));
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

button {
  font-family: var(--ifm-font-family-base);
}

video {
  max-width: 100%;
}

.navbar .navbar__link {
  white-space: nowrap;
}

.menu {
  font-weight: var(--ifm-font-weight-normal);
}

:not(.navbar-sidebar__items) .menu__link--sublist {
  font-weight: var(--ifm-font-weight-semibold);
  letter-spacing: -0.03em;
}

.codeBlockLines__-_-node_modules-\@docusaurus-theme-classic-src-theme-CodeBlock- {
  background-color: transparent !important;
}

.github-star {
  all: unset;
  display: block;
  min-width: 88px;
}

html[data-theme='dark'] .github-star {
  filter: invert(1) sepia(1) brightness(140%) hue-rotate(170deg);
}

@media (min-width: 997px) {
  .sidebar__-_-node_modules-\@docusaurus-theme-classic-src-theme-DocSidebar-::-webkit-scrollbar-track {
    background: transparent !important;
  }

  .sidebar__-_-node_modules-\@docusaurus-theme-classic-src-theme-DocSidebar-::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  html[data-theme='dark']
    .sidebar__-_-node_modules-\@docusaurus-theme-classic-src-theme-DocSidebar-::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
  }

  .sidebar__-_-node_modules-\@docusaurus-theme-classic-src-theme-DocSidebar-::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }

  html[data-theme='dark']
    .sidebar__-_-node_modules-\@docusaurus-theme-classic-src-theme-DocSidebar-::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }
}
