workspace-concurrency=4
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=typescript
public-hoist-pattern[]=prettier
public-hoist-pattern[]=ts-jest
public-hoist-pattern[]=jest
public-hoist-pattern[]=rollup*
public-hoist-pattern[]=@rollup*
prefer-workspace-packages=true